[project]
	description = Code from 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Richard Winters (rwin336)
[access "refs/for/refs/*"]
	read = group user/Richard Winters (rwin336)
	push = group user/Richard Winters (rwin336)
	label-Code-Review = -2..+2 group user/Richard Winters (rwin336)
	label-Verified = -1..+1 group user/Richard Winters (rwin336)
	rebase = group user/Richard Winters (rwin336)
	removeReviewer = group user/Richard Winters (rwin336)
	submit = group user/Richard Winters (rwin336)
[access "refs/heads/*"]
	read = group user/Richard Winters (rwin336)
	create = group user/Richard Winters (rwin336)
	push = +force group user/Richard Winters (rwin336)
	pushMerge = group user/Richard Winters (rwin336)
[access "refs/tags/*"]
	push = +force group user/Richard Winters (rwin336)
	pushTag = group user/Richard Winters (rwin336)
	pushSignedTag = group user/Richard Winters (rwin336)
